*{
    margin:0px;
    padding:0px;
}
body{
     
    background-image: url("./images/giphy.gif");
     background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: new time roman;
}
ul{
    margin-bottom: 50px;

}
ul a{
    font-size:29px;
    color:white;
}
ul a:hover{
    text-decoration: none;
    color:gray;
}
.label{
    font-size:20px;
    color: white;
    font-weight: normal;
}
.form-control{
    background: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom:1px solid #f44c89;
    margin-bottom:30px;
    font-size:22px;
    color:white;
    padding:20px;
   
}
input[type="checkbox"]{
    height:15px;
    width:15px;
    
}
small{
    font-size:20px;
    color:white;
}
.btn-info{
    background:#f44c89;
    border:2px solid #f44c89;
    border-radius:20px;
    width:360px;
    margin-top:20px;
    font-size:20px;
    background: transparent;

}
.btn-info:hover{
  
    background: linear-gradient(to right, #33ccff 0%, #ff99cc 50%);
    border:2px solid #f44c89;

}

a{
    font-size:18px;
    margin-top:40px;
    color:gray;
    text-align: center;
   
}
a:hover{
    text-decoration: none;
}

.nav a{
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size:17px;
    
}
.nav a:hover{
    color: black;
}
.navbar{
    background-color: darkblue;
   
    position: fixed;
    width:100%;
   
}
.btn-twitter{
    background-color: dodgerblue;
    color:white;
    font-size: 17px;
}
.btn-facebk{
    background-color: darkblue;
    color:white;
    font-size: 17px;
}
.btn-google{
    background-color: rgba(207, 15, 15, 0.959);
    color:white;
    font-size: 17px;
}
h3{
    color:white;
}


  
#error {
    padding: 0px;
    background: hotpink;
    margin-bottom: 18px;
    font-size: 18px;
    transition: all .2s ease;
    font-weight: 700;
    text-align: center;
    color:maroon;
    border-radius:45%;
    width:90%;
    border-top-right-radius:-10%;
    
    
  }

  
  #length {
    width: 0;
    height: 7px;
    border-radius: 10px;
    opacity: 0;
    margin-top: 5px;
    transition: all .3s ease-in-out;
  }
  
  #errorimg{
      padding-left:80%;
      margin-top:-120px;
     
      position:absolute;
      z-index:1000;
  }
 
  .radio-inline{
    font-size:22px;
    color:grey;
    margin-left:6% ;
}
#dob{
    color:gray;
}
  
  
  